[submodule "services/user"]
	path = services/user
	url = https://github.com/LaFavela/sehatin-be-user.git
[submodule "services/user-detail"]
	path = services/user-detail
	url = https://github.com/LaFavela/sehatin-be-user-detail
[submodule "services/auth"]
	path = services/auth
	url = https://github.com/LaFavela/sehatin-be-auth.git
[submodule "services/message"]
	path = services/message
	url = https://github.com/LaFavela/sehatin-be-message.git
[submodule "services/food"]
	path = services/food
	url = https://github.com/LaFavela/sehatin-be-food.git
[submodule "services/schedule"]
	path = services/schedule
	url = https://github.com/LaFavela/sehatin-be-schedule.git
[submodule "services/chatbot"]
	path = services/chatbot
	url = https://github.com/LaFavela/sehatin-chatbot.git
[submodule "services/seeder"]
	path = services/seeder
	url = https://github.com/LaFavela/sehatin-be-seeder.git
